body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.col-mx-4{
    padding-left: 0px !important;
}
section{
    .container{
        position: relative;
        margin-top: 150px;
        // background: #262626;
        // .custom-col{
        //     padding-left:5px; 
        // }
        .box{
            position: relative;
            width: calc(400px - 30px);
            height: calc(300px - 30px);
            background: #000;
            float: left;
            margin-bottom: 15px;
            box-sizing: border-box;
            overflow: hidden;
            box-shadow: 0 5px 10px rgba(0,0,0,0.8);
            .imgBox{
                position: relative;
                img{
                    width: 100%;
                    transition: 0.5s;
                }
            }
            .content{
                position: absolute;
                top: 50%;
                width: 100%;
                transform: translateY(-50%);
                color: #fff;
                z-index: 2;
                padding: 20px;
                box-sizing: border-box;
                text-align: center;
                h2{
                    // margin: 0;
                    padding: 0;
                    transition: 0.5s;
                    transform: translateY(-50px);
                    opacity: 0;
                    visibility: hidden;
                }
                p{
                    margin: 0;
                    padding: 0;
                    transition: 0.5s;
                    transform: translateY(50px);
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
        .box:before{
            content: "";
            position: absolute;
            top: 10px;
            bottom: 10px;
            left: 10px;
            right: 10px;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            box-sizing: border-box;
            transition: 0.5s;
            transform: scaleX(0);
            opacity: 0;
            z-index: 1;
        }
        .box:hover::before{
            transform: scaleX(1);
            opacity: 1;
        }

        .box::after{
            content: "";
            position: absolute;
            top: 10px;
            bottom: 10px;
            left: 10px;
            right: 10px;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            box-sizing: border-box;
            transition: 0.5s;
            transform: scaleY(0);
            opacity: 0;
            z-index: 1;
        }
        .box:hover::after{
            transform: scaleY(1);
            opacity: 1;
        }

        .box:hover .imgBox img{
            opacity: 0.2;
            transform: scale(1.2);
        }

        .box:hover .content h2, .box:hover .content p{
            opacity: 1;
            visibility: visible;
            transform: translateY(0px);
        }
    }
}